@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Glorify";
  src: url("/fonts/Glorifydemo-BW3J3.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.text-glorify {
  font-family: "Glorify", sans-serif;
  font-weight: 400;
}

body {
  background: black;
  color: white;
  font-family: "Glorify", sans-serif;
}

.bg-main-dum {
  /* background-image: url("/HomeLanding/dot-bg.webp"); */
  background-size: cover;
  background-attachment: fixed !important;
  background-position: center !important;
}
